@model List<TeacherListDto>
<h1 class="text-danger">ÖĞRETMEN BİLGİLERİ</h1>

<hr />

<table class="table table-responsive table-bordered" asp-area="Admin" asp-controller="Teacher" asp-action="TeacherDetails">
    <thead>
        <tr>
            <th>Id</th>
            <th>Resim</th>
            <th>Ad Soyad</th>
            <th>Ders</th>
            <th>Yaş</th>
            <th>Email</th>
            <th>Açıklama</th>
            <th>Mezun Olduğu Okul</th>
            <th>Sertifika</th>
            <th>Saatlik Ücret</th>
            <th>Lokasyon</th>
            <th>Öğrenciler</th>
        </tr>
    </thead>
    <tbody>
      @foreach (var teacher in Model)
        {
            <tr>
                <td>@teacher.Id</td>
                <td>
                    <img src="/images/@teacher.ImageUrl" width="90" height="80" />
                </td>
                <td>@($"{teacher.FirstName}{teacher.LastName}")</td>

                @foreach (var branch in teacher.Branch)
                {
                    <td class="d-grid">@branch.Name</td>
                }

                <td>@teacher.Age</td>

                <td>@teacher.Email</td>
                <td>@teacher.Description</td>
                <td>@teacher.UniverstyGraduatedFrom</td>
                <td>@teacher.CertifiedTrainer</td>
                <td>@($"{teacher.HourlyPrice:C2}")</td>
                <td>@teacher.Location</td>
                @if (teacher.Students!=null)
                {
                    @foreach (var student in teacher.Students)
                    {
                        <td class="nav-link text-black">@($"{teacher.FirstName} {teacher.LastName}")</td>

                    }
                }
              

            </tr>
        }
           
      
    </tbody>
</table>
